<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.users.mapper.UserProfileMapper">

    <resultMap id="BaseMap" type="com.example.users.pojo.UserProfile">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar" property="avatar"/>
        <result column="gender" property="gender"/>
        <result column="birth_date" property="birthDate"/>
        <result column="real_name" property="realName"/>
        <result column="id_card" property="idCard"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="findByUserId" resultMap="BaseMap">
        SELECT * FROM user_profile WHERE user_id = #{userId}
    </select>

    <insert id="insert" parameterType="com.example.users.pojo.UserProfile">
        INSERT INTO user_profile (user_id, nickname, avatar, gender, birth_date, real_name, id_card)
        VALUES (#{userId}, #{nickname}, #{avatar}, #{gender}, #{birthDate}, #{realName}, #{idCard})
    </insert>

    <update id="update">
        UPDATE user_profile
        SET nickname = #{nickname},
        avatar = #{avatar},
        gender = #{gender},
        birth_date = #{birthDate},
        real_name = #{realName},
        id_card = #{idCard}
        WHERE user_id = #{userId}
    </update>

</mapper>